# Base de datos
DATABASE_URL=""

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/login"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/register"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL="/settings/profile?onboarding=true"

# Integraciones externas
NEXT_PUBLIC_SELLER_API_URL=""
NEXT_PUBLIC_PAYMENTS_API_URL=""
NEXT_PUBLIC_DELIVERY_API_URL=""
DELIVERY_API_URL=""

# IA - Gemini
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash-lite"

# Buyer App
NEXT_PUBLIC_BUYER_API_URL=""
